mixin top-posts(text, mods)

  //- Принимает:
  //-   text    {string} - текст
  //-   mods    {string} - список модификаторов
  -
    // список модификаторов
    var allMods = '';
    if(typeof(mods) !== 'undefined' && mods) {
      var modsList = mods.split(',');
      for (var i = 0; i < modsList.length; i++) {
        allMods = allMods + ' top-posts--' + modsList[i].trim();
      }
    }

  .top-posts(class=allMods)&attributes(attributes)
    +label("Лучшее за месяц").top-posts__label
    .top-posts__list
      - for (var i = 0; i < 3; i++)
        a(href="http://localhost:8080/course.html").link.top-posts__item
          +post-stat
          p.top-posts__title Как подобрать идеальное помещение для салона красоты
