extends form-layout.pug
include ../curators/curators.pug

block data
  - var id = "consultation-general"
  - var formMods = "form--wide"
  - var backMods= "form__back--dark"
  - var formMixins = ""

block overlay
  +curators
block prepend content-top
  - var stepsIndicator = true
block steps
  .form__step
    .form__title
      |Привет.
      br
      |Мы всегда рады помочь
    .form__row.form__row--full
      input.input(placeholder="Твое имя").form__input
      +button(label, "icon", "arrow-forward").form__button(name="next")
  .form__step
    .form__title
      |Вася,
      br
      |оставь телефон для связи
    .form__row.form__row--full.form__row--full-responsive.form__row--wide
      input.input(type="tel" placeholder="+7(").form__input
      +button("Получить консультацию", mods, icon=false, "button")(type="submit").form__button
block bottom
  .form__phone
    a.form__phone-number.link(herf="tel:+78009235411")
      +icon("phone").form__phone-icon
      |8 800 333-17-21
    p.form__phone-descr Также отвечаем по&nbsp;телефону с&nbsp;9&nbsp;до&nbsp;18&nbsp;по&nbsp;Москве

block form-author
block done
  .form__done
    .form__done-top
      .form__title Спасибо, мы перезвоним тебе в течение рабочего дня
      .form__hint Рабочий день заканчивается через:
    .form__timer 03:43:29
    a.form__go-back(href="javascript:void(0);")
      +icon("arrow-back")
    form.form__email(method="get" action="")
      p.form__subtitle
        |Или с нас
        |
        span.accent скидка 25%
        |
        |на любой курс
      .form__row.form__row--full
        input.input(type="email" placeholder="@почта").form__input
        +button("отправить", "secondary", icon="", tag="button").form__button(type="submit")
      p.form__hint если мы не позвоним вовремя, то на эту почту придет промокод
