mixin for-whome(chartItems, quote, mods)

  //- Принимает:
  //-   chartItems    {array} - массив объектов столбцов графика
  //-       percent {string} - количество процентов
  //-       label {string} - название столбца
  //-       color {string} - значение модификатора color для столбца .for-whome__chart-item
  //-   quote    {object}
  //-       text  {string} - текст цитаты
  //-       name  {string} - имя автора
  //-       descr  {string} -  дескриптор автора
  //-       src  {string} - путь к аватару
  //-   mods    {string} - список модификаторов
  -
    // список модификаторов
    var allMods = '';
    if(typeof(mods) !== 'undefined' && mods) {
      modDoza = mods.indexOf("doza") > -1;
      var modsList = mods.split(',');
      for (var i = 0; i < modsList.length; i++) {
        allMods = allMods + ' for-whome--' + modsList[i].trim();
      }
    }

  mixin chart-item(percent, label, color)
    .for-whome__chart-item(class="for-whome__chart-item--color_" + color)
      span.for-whome__chart-percent !{percent}
      span.for-whome__chart-label !{label}

  section#for-whome.for-whome(class=allMods)&attributes(attributes)
    .container
      h2.for-whome__heading Для кого курс
      .for-whome__inner
        +quote(mods, quote.text, quote.name, quote.descr, quote.src).for-whome__quote
        .for-whome__chart
          each item in chartItems
            +chart-item(item.percent, item.label, item.color)
    if mods && modDoza
      .for-whome__decor
