.svg-sprite {
  display: none;
}

.icon {
  width: map-get($icon-sizes, medium);
  height: map-get($icon-sizes, medium);
  fill: map-get($icon-colors, inactive);

  &--active {
    fill: map-get($icon-colors, active);
    transition: map-get($transition, medium);

    &:hover {
      fill: map-get($icon-colors, focus);
    }
  }

  &--light {
    fill: map-get($icon-light-colors, active);
    transition: map-get($transition, medium);

    &:hover {
      fill: map-get($icon-light-colors, focus);
    }
  }

  // Размер

  &--size_sm {
    width: map-get($icon-sizes, small);
    height: map-get($icon-sizes, small);
  }

  &--size_lg {
    width: map-get($icon-sizes, large);
    height: map-get($icon-sizes, large);
  }

  &--size_xlg {
    width: map-get($icon-sizes, x-large);
    height: map-get($icon-sizes, x-large);
  }
}
