.tags {
  @include labels-text;
  display: flex;
  flex-wrap: nowrap;
  padding-top: 24px;
  padding-bottom: 16px;
  width: 90%;
  color: map-get($font-colors, base);
  white-space: nowrap;
  overflow-y: hidden;

  &__item {
    display: inline-block;
    color: inherit;

    &::before {
      content: "#";
    }

    &.active {
      padding: 4px 8px;
      background-color: map-get($colors, highlighter);
      border-radius: $border-radius;
    }

    & + & {
      margin-left: 16px;
    }
  }

  @include respond-to(medium) {
    padding-top: 64px;
    padding-bottom: 40px;
    width: initial;

    &__item {
      & + & {
        margin-left: 24px;
      }
    }
  }
}
