mixin back-to-skilla(text, mods)

  //- Принимает:
  //-   text    {string} - текст
  //-   mods    {string} - список модификаторов
  -
    // список модификаторов
    var allMods = '';
    if(typeof(mods) !== 'undefined' && mods) {
      var modsList = mods.split(',');
      for (var i = 0; i < modsList.length; i++) {
        allMods = allMods + ' back-to-Skilla--' + modsList[i].trim();
      }
    }

  button.back-to-skilla.modal__close(class=allMods)&attributes(attributes)
    +icon("arrow-back").back-to-skilla__arrow
    +logo.back-to-skilla__logo
