.back-to-skilla {
  @include button-reset;
  display: flex;
  align-items: center;

  &__arrow {
    fill: map-get($colors, dark);
  }

  &__logo {
    display: none;
  }

  @include respond-to(medium) {
    &__logo {
      display: block;
      margin-left: 8px;
      margin-bottom: 8px;
      width: 80px;
      height: 30px;
    }
  }
}
