@mixin container {
  @include outliner;
  box-sizing: border-box;
  margin: auto;
  min-width: map-get($container-width, min);
  width: map-get($container-width, small);

  @include respond-to(medium) {
    width: map-get($container-width, medium);
  }

  @include respond-to(large) {
    width: map-get($container-width, large);
  }
}
