mixin teachers(teachers = [{src: "img/alexandra-tuzova.jpg", name: "Александра Тузова", descr: "владелец Goneli Daily, совладелец ресторана «Садахар» и производства продуктов шоковой заморозки."}], mods)

  //- Принимает:
  //-   teachers  {array} -  объекты учителей
  //-       src  {string} - путь к аватару
  //-       name  {string} - имя
  //-       descr  {string} - регалии
  //-   mods    {string} - список модификаторов
  -
    // список модификаторов
    var allMods = '';
    if(typeof(mods) !== 'undefined' && mods) {
      var modsList = mods.split(',');
      for (var i = 0; i < modsList.length; i++) {
        allMods = allMods + ' teachers--' + modsList[i].trim();
      }
    }

    var filters = ["shadow_0deg", "shadow_90deg", "shadow_60deg", "shadow_0deg"]

  mixin teacher-item(teacher, filter)
    .teachers__item
      +avatar(teacher.src).teachers__avatar(
        class= filter ? "teachers__avatar--" + filter : ""
        )
      p.teachers__name !{teacher.name}
      p.teachers__descr !{teacher.descr}

  section#teachers.teachers(class=allMods)&attributes(attributes)
    .container
      .teachers__top
        .teachers__top-inner
          h2.teachers__heading Преподаватели
          p.teachers__subheading команда Goneli Daily
        p.teachers__text PR-директор, администраторы магазина, юрист, бухгалтеры, маркетологи, наши повара. Каждый из них раскроет вам один профильный блок и передаст свой бесценный опыт

      .teachers__list
        - for (var i = 0; i < teachers.length; i++)
            +teacher-item(teachers[i], filters[i])
