mixin main-hero(text, mods)

  //- Принимает:
  //-   text    {string} - текст
  //-   mods    {string} - список модификаторов
  -
    // список модификаторов
    var allMods = '';
    if(typeof(mods) !== 'undefined' && mods) {
      var modsList = mods.split(',');
      for (var i = 0; i < modsList.length; i++) {
        allMods = allMods + ' main-hero--' + modsList[i].trim();
      }
    }

  section.main-hero(class=allMods)&attributes(attributes)
    .article-hero
      .container.main-hero__inner
        .main-hero__article
          +label("новое")
          +post-stat.article-hero__post-stat
          h1.article-hero__heading Как я&nbsp;открыл бизнес на&nbsp;деньги друга и&nbsp;не&nbsp;поссорился с&nbsp;ним
          .article-hero__author
            +avatar(avatarSrc)(class="article-hero__avatar")
            .article-hero__author-inner
              p.article-hero__author-name Грета Харитонова
              p.article-hero__author-descr владелец салона красоты «Салон красоты», преподаватель курса «<a class="link article-hero__link" href='javascript:void(0);'>Как открыть салон красоты</a>»
        img(src="img/article-hero.jpg").article-hero__img
    +top-posts.main-hero__top
