.svg-sprite {
  display: none;
}

.icon {
  width: map-get($icon-sizes, medium);
  height: map-get($icon-sizes, medium);
  fill: map-get($icon-colors, inactive);

  // Цвет

  //

  // Размер

  &--size_sm {
    width: map-get($icon-sizes, small);
    height: map-get($icon-sizes, small);
  }

  &--size_lg {
    width: map-get($icon-sizes, large);
    height: map-get($icon-sizes, large);
  }
}
