//- Стандартный шаблон страницы

include mixins.pug

block vars

doctype html
html(lang="ru" class="page")

  head
    meta(charset="utf-8")
    meta(name="viewport", content="width=device-width, initial-scale=1")
    //- Edge и ряд мобильных браузеров слишком умны. Отключим это.
    meta(name="format-detection", content="telephone=no")
    meta(name="format-detection", content="date=no")
    meta(name="format-detection", content="address=no")
    meta(name="format-detection", content="email=no")
    meta(content="notranslate", name="google")

    block title
      title Home

    block head
      link(rel="stylesheet", href="css/style.css")
      link(rel='apple-touch-icon' sizes='180x180' href='img/apple-touch-icon.png')
      link(rel='icon' type='image/png' sizes='32x32' href='img/favicon-32x32.png')
      link(rel='icon' type='image/png' sizes='16x16' href='img/favicon-16x16.png')
      link(rel='manifest' href='img/site.webmanifest')
      link(rel='mask-icon' href='img/safari-pinned-tab.svg' color='#182d4d')
      link(rel='shortcut icon' href='img/favicon.ico')
      meta(name='msapplication-TileColor' content='#182d4d')
      meta(name='msapplication-config' content='img/browserconfig.xml')
      meta(name='theme-color' content='#ffffff')



  body
    block header
      +header
    .main(class=pageClass)
      block content
    block footer
      +footer(coursesList)
    block modals
      .overlay
    block page-bottom
      .svg-sprite
        include ../blocks/common/sprite-svg/img/sprite.svg
      script(src="js/jquery-3.4.0.min.js")
      script(src="js/jquery.nicescroll.min.js")
      script(src="js/ofi.min.js")
      script(type="text/javascript").
        $(function () {objectFitImages()});
      script(src="js/script.js")
