.form--wide {
  .form {
    @include respond-to(medium) {
      &__overlay {
        order: 2;
        justify-content: center;
        padding-left: 0;
        background-image:
          url("../img/form__waves.svg"),
          map-get($gradients, overlay);
        background-repeat: no-repeat;
        background-size: 100%;
        background-position:
          center bottom,
          center;
      }
    }

    @include respond-to(large) {
      $inner-width: 70%;

      &__overlay {
        flex-grow: 0;
        width: 600px;
      }

      &__content {
        flex-grow: 1;

        &-inner {
          margin-left: auto;
          margin-right: 40px;
          width: $inner-width;
          max-width: initial;
        }
      }
    }
  }
}
