.course-hero--doza {
  .course-hero {
    &__heading {
      margin-top: 8px;
    }

    &__info {
      margin-top: 24px;
      text-align: center;
    }
  }

  @include respond-to(medium) {
    padding-bottom: 40px;
    background-image: none;
  }

  @include respond-to(large) {
    color: map-get($font-colors, base-light);
    background-image: url("../img/doza-hero__bg.jpg");
    background-repeat: no-repeat;
    background-size: auto;
    background-position: center top;

    .course-hero {
      &__main {
        margin-top: 80px;
      }

      &__info {
        display: flex;
      }

      &__bottom {
        margin-top: auto;
      }
    }
  }
}
