.you-can--doza {
  @import "../variables";

  background-image:
    url("../img/you-can--doza__bg.svg"),
    url("../img/you-can--doza__bg-02.jpg");
  background-size: auto $bg-height, cover;
  background-position: center bottom $bg-bottom, center;
  background-color: map-get($doza-colors, dark);

  @include respond-to(medium) {
    $bg-height: 480px;
    $bg-bottom: - $bg-height / 3;

    background-size: auto $bg-height, cover;
    background-position: center bottom $bg-bottom, center;
  }

  @include respond-to(large) {
    $bg-height: 480px;

    background-image: url("../img/you-can--doza__bg-02.jpg");
    background-repeat: no-repeat;
    background-position: center top;
    background-size: cover;

    .you-can {
      &__inner {
        background-image: url("../img/you-can--doza__bg.svg");
        background-position: top right;
        background-size: auto $bg-height;
      }
    }
  }
}
