.link {
  color: map-get($font-colors, link);
  text-decoration: none;
  transition: map-get($transition, normal);

  &:hover {
    color: map-get($colors, add-color-3);
  }

  &--button {
    @include button-label;
  }

  &--color_secondary {
    color: map-get($font-colors, secondary);
  }
}
