extends ../pug/layout.pug

block title
  title Главная

block content
  +course-hero
  +purpose
  +course-benefits
  +business-plan
  +for-whome
  +program
  +teachers
  +how-it-works
  +reviews
  +cost
