extends ../pug/layout.pug

block vars
  -
    var youCanData = [
    {title: "Открыть свое кафе", descr: paragraph},
    {title: "Привлечь инвесторов", descr: paragraph},
    {title: "Повысить эффективность своего кафе", descr: paragraph},
    {title: "Расширить свой бизнес", descr: paragraph}
    ]

block title
  title Главная

block content
  +course-hero
  +purpose
  +course-benefits
  +business-plan
  +for-whome
  +program
  +teachers
  +how-it-works
  +you-can(youCanData)
  +reviews
  +cost
