extends ../pug/layout.pug

block title
  title Как открыть кофе с собой

block header
  +header("course")

block content
  +course-hero(courseHero, "doza")
  +brand-photos(["img/brand-photos__doza-01.jpg", "img/brand-photos__doza-02.jpg", "img/brand-photos__doza-03.jpg"], "img/doza-logo.svg")
  .doza__bg-wave
    +course-benefits(courseBenefits, "doza")
    +business-plan(tariffs, "doza")
  +for-whome(chartItems, quoteForWhome, "doza")
  +program(programDoza, programAuthor, "doza")
  +teachers
  +how-it-works(howItWorksSteps, "img/how-it-works__theme_doza.svg")
  +you-can(youCanData, "doza")
  +reviews(reviewCroud, "doza")
  +cost("doza", tabsMods="dark")
  +skilla-block("doza")

block footer
  +short-footer("dark,bg_doza")

block prepend modals
  +course-nav(courseNav)
  include ../blocks/forms/form/sign-up-course
  include ../blocks/forms/form/sign-up
  include ../blocks/forms/form/consultation
  include ../blocks/forms/form/confirm
  include ../blocks/forms/form/login


block vars
  -
    var pageClass = "doza"

    var courseHero = {
      heading: "Как открыть кофе с&nbsp;собой",
      video: "https://www.youtube.com/embed/oH4-2KW-Lss",
      subheading: "от владельца сети мини–кофеен<br>DOZA cafe Алексея Яковлева",
      label: "онлайн курс"
    }

    var youCanData = [
    {title: "Открыть свое кафе", descr: paragraph},
    {title: "Привлечь инвесторов", descr: paragraph},
    {title: "Повысить эффективность своего кафе", descr: paragraph},
    {title: "Расширить свой бизнес", descr: paragraph}
    ]

    var courseBenefits = [
      {title: "Живые лекции", descr: "Лекции проходят в режиме реального времени, чтобы вы могли общаться. Лекции проходят в режиме реального времени."},
      {title: "Практика", mod: "cup"},
      {title: "Личное общение с&nbsp;экспертом"},
      {title: "Экскурсия по&nbsp;Doza"}
    ]

    var quoteForWhome = {
      text: "Я&nbsp;приглашаю на&nbsp;курс начинающих предпринимателей, инвесторов, а&nbsp;также владельцев пекарен. Всех, кто хочет изменить дела к&nbsp;лучшему.",
      name: "Алексей Яковлев",
      descr: "преподаватель курса",
      src: "img/alexandra-tuzova.jpg"
    }

    var chartItems = [
      {percent: "50", label: "Начинающие предприниматели", color: "coffee"},
      {percent: "30", label: "Инвесторы", color: "light-coffee"},
      {percent: "20", label: "Владельцы бизнеса", color: "light-coffee"}
    ]

    var programAuthor = {
      src: "img/alexandra-tuzova.jpg",
      name: "Алексей Яковлев",
      video: "https://www.youtube.com/embed/oH4-2KW-Lss"
    }
