extends ../pug/layout.pug

block vars
  -
    var youCanData = [
    {title: "Открыть свое кафе", descr: paragraph},
    {title: "Привлечь инвесторов", descr: paragraph},
    {title: "Повысить эффективность своего кафе", descr: paragraph},
    {title: "Расширить свой бизнес", descr: paragraph}
    ]

block title
  title Главная

block header
  +header("course")

block content
  +course-hero
  +brand-photos
  +course-benefits
  +business-plan
  +for-whome
  +program
  +teachers
  +how-it-works
  +you-can(youCanData)
  +reviews
  +cost
  +skilla-block

block footer
  +short-footer

block prepend modals
  +course-nav(courseNav)
  +sign-up(id="sign-up-course")
