extends ../pug/layout.pug

block vars
  -
    var youCanData = [
    {title: "Открыть свое кафе", descr: paragraph},
    {title: "Привлечь инвесторов", descr: paragraph},
    {title: "Повысить эффективность своего кафе", descr: paragraph},
    {title: "Расширить свой бизнес", descr: paragraph}
    ]

    var quoteForWhome = {
      text: "Я&nbsp;приглашаю на&nbsp;курс начинающих предпринимателей, инвесторов, а&nbsp;также владельцев пекарен. Всех, кто хочет изменить дела к&nbsp;лучшему.",
      name: "Александра Тузова",
      descr: "преподаватель курса",
      src: "img/alexandra-tuzova.jpg"
    }

block title
  title Как открыть кафе

block header
  +header("course")

block content
  +course-hero(courseHero)
  +brand-photos
  +course-benefits(courseBenefits)
  +business-plan
  +for-whome(chartItems, quoteForWhome)
  +program(program)
  +teachers
  +how-it-works(howItWorksSteps)
  +you-can(youCanData)
  +reviews(reviewCroud)
  +cost
  +skilla-block

block footer
  +short-footer

block prepend modals
  +course-nav(courseNav)
  include ../blocks/forms/form/sign-up-course
  include ../blocks/forms/form/sign-up
  include ../blocks/forms/form/consultation
  include ../blocks/forms/form/confirm
  include ../blocks/forms/form/login

block prepend page-bottom
  script.
    var videoID = "-GLI2dd6P-o";
