extends ../pug/layout.pug

block vars
  - var pageClass = "main"

block title
  title Главная

block content
  +article-hero(imgSrc, avatarSrc, "main")
  +top-posts
  +tags(["все подряд", "курс", "франшиза", "статья"])
  .previews.main__previews
    .container.previews__inner
      - for (var i = 0; i < 6; i++)
          +preview.previews__item
  +loader
  +consult-catalog.main__consult-catalog

block prepend modals
  +courses-menu(coursesList)
  include ../blocks/forms/form/sign-up
  include ../blocks/forms/form/consultation-general
  include ../blocks/forms/form/confirm
  include ../blocks/forms/form/login
