extends ../pug/layout.pug

block title
  title Главная

block content
  +main-hero

block prepend modals
  +courses-menu(coursesList)
  include ../blocks/form/sign-up
  include ../blocks/form/consultation
  include ../blocks/form/confirm
  include ../blocks/form/login
