mixin short-footer(mods)

  //- Принимает:
  //-   mods    {string} - список модификаторов
  -
    // список модификаторов
    var allMods = '';
    if(typeof(mods) !== 'undefined' && mods) {
      if (mods.indexOf("dark") > -1) {
        iconMod = "light";
      } else {
        iconMod = "active";
      }
      var modsList = mods.split(',');
      for (var i = 0; i < modsList.length; i++) {
        allMods = allMods + ' short-footer--' + modsList[i].trim();
      }
    }

  footer.short-footer(class=allMods)&attributes(attributes)
      .container.short-footer__inner
        p.short-footer__copyright Skilla © 2019
        .short-footer__info
          a.short-footer__phone(href="tel:78008107677") 8 800 333-17-21
          p.short-footer__phone-caption бесплатно по России
        p.short-footer__address 123112, г. Москва, Пресненская наб., 8&nbsp;стр 1&nbsp;Москва-Сити, 4-ый пост Skilla House
        .short-footer__social
          a.short-footer__social-item(href="javascript:void(0);")
            +icon("instagram", iconMod + ",size_xlg").short-footer__social-icon
          a.short-footer__social-item(href="javascript:void(0);")
            +icon("vkonakte", iconMod + ",size_xlg").short-footer__social-icon
