.short-footer--dark {
  color: map-get($font-colors, secondary-light);
  border: none;

  @include respond-to(large) {
    .short-footer {
      &__phone {
        color: map-get($font-colors, base-light);
      }
    }
  }
}
