.business-plan--doza {
  background-image: url("../img/business-plan--doza__bg--small.png");

  @include respond-to(medium) {
    background-image: url("../img/business-plan--doza__bg.png");
    background-position: right -100px bottom -60px;
  }

  @include respond-to(large) {
    background-color: initial;

    .business-plan {
      &__inner {
        background-image: url("../img/business-plan--doza__bg.png");
        background-position: right -100px bottom -100px;
      }
    }
  }
}
