//- Все примеси в этом файле должны начинаться c имени блока (item-block)

mixin item-block(data)

  //- Принимает:
  //-   {object}
  //-    title: ''  {string} - заголовок
  //-    descr: ''  {string} - описание
  //-   mods    {string} - список модификаторов
  //- Вызов:
        +item-block('Текст', 'some-mod')

  -
    // список модификаторов
    var allMods = '';
    if(typeof(mods) !== 'undefined' && mods) {
      var modsList = mods.split(',');
      for (var i = 0; i < modsList.length; i++) {
        allMods = allMods + ' item-block--' + modsList[i].trim();
      }
    }

  .item-block(class=allMods)&attributes(attributes)
    p.item-block__title= data.title
    p.item-block__descr= data.descr
