mixin quote(mods, text= "Помещение и&nbsp;его расположение влияют на&nbsp;то, какая публика будет к&nbsp;вам приходить. Наряду с&nbsp;качеством и&nbsp;стоимостью услуг люди оценивают место и&nbsp;обустройство салона...", name= "Мария Вершинина", descr= "владелец салона «Салон» преподаватель курса «<a class='link' href='javasript:void(0)'>Как открыть салон красоты</a>»", src= "img/avatar.jpg")

  //- Принимает:
  //-   mods    {string} - список модификаторов
  //-   text  {string} - текст цитаты
  //-   name {string} - имя втора
  //-   descr {string} - регалии автора
  //-   src {string} - путь к фотографии автора
  -
    // список модификаторов
    var allMods = '';
    if(typeof(mods) !== 'undefined' && mods) {
      var modsList = mods.split(',');
      for (var i = 0; i < modsList.length; i++) {
        allMods = allMods + ' quote--' + modsList[i].trim();
      }
    }

  .quote(class=allMods)&attributes(attributes)
    .quote__inner
      p.quote__text !{text}
      .quote__author
        +avatar(src)(class="quote__avatar")
        .quote__author-inner
          p.quote__author-name !{name}
          p.quote__author-descr !{descr}
