mixin avatar(src)

  //- Принимает:
  //-   mods    {string} - список модификаторов
  //-   src    {string} - путь к фотографии
  -
    // список модификаторов
    var allMods = '';
    if(typeof(mods) !== 'undefined' && mods) {
      var modsList = mods.split(',');
      for (var i = 0; i < modsList.length; i++) {
        allMods = allMods + ' avatar--' + modsList[i].trim();
      }
    }

  .avatar(class=allMods)&attributes(attributes)
    img.avatar__img(src= src ? src : "img/avatar.jpg")
