.tags {
  @include labels-text;
  display: flex;
  flex-wrap: wrap;
  padding-top: 24px;
  padding-bottom: 16px;
  color: map-get($font-colors, base);

  &__item {
    display: inline-block;
    color: inherit;

    &::before {
      content: "#";
    }

    &.active {
      padding: 4px 8px;
      background-color: map-get($colors, highlighter);
      border-radius: $border-radius;
    }

    & + & {
      margin-left: 24px;
    }
  }

  @include respond-to(medium) {
    padding-top: 64px;
    padding-bottom: 40px;
  }
}
