// Fonts

// $font-family


// Breakpoints. Все стили для модильного по умолчанию. Дальше определяются стили для планшета, затем для десктопа. Если нужно переопределить стиль для декстопа, который такой же, как на мобильном, то переопределяем. Без экономии на спичках.

$breakpoints: (
  medium: 768px,
  large: 1200px
);


// Container widths

$container-width: (
  min: 290px,
  small: 290px,
  medium: 720px,
  large: 1140px,
  max: 1280px
);
