// Fonts
$font-family: "Helvetica Neue", "Arial", sans-serif;

$colors: (
  dark: #182d4d,
  accent: #eb5757,
  add-color: #8a46c6,
  add-color-2: #5c95fe,
  add-color-3: #2ac9b3,
  add-color-4: #e9f3ff,
  add-color-5: #db4fff,
  add-color-6: #fc8e0a,
  highlighter: #ffefa0,
  light: #ffffff,
  neutral: darken(#f9f9f9, 2)
);

/* stylelint-disable */
$gradients: (
  color: linear-gradient(
    rgba(map-get($colors, add-color), 0.80) 0%,
    rgba(map-get($colors, accent), 0.5) 100%),
  dark: linear-gradient(rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5))
);
/* stylelint-enable */

$font-colors: (
  base: rgba(map-get($colors, dark), 0.87),
  secondary: rgba(map-get($colors, dark), 0.54),
  base-light: map-get($colors, light),
  secondary-light: rgba(map-get($colors, light), 0.7),
  link: map-get($colors, add-color-2)
);

$icon-colors: (
  inactive: rgba(map-get($colors, dark), 0.38),
  active: rgba(map-get($colors, dark), 0.54),
  focus: rgba(map-get($colors, dark), 0.87)
);

$icon-sizes: (
  small: 16px,
  medium: 24px,
  large: 32px,
  x-large: 40px
);

$shadows: (
  panel: 0 4px 40px rgba(map-get($colors, dark), 0.1),
  panel-pressed: 0 0 5px rgba(map-get($colors, dark), 0.2),
  button: 0 4px 1px rgba(map-get($colors, dark), 0.15),
  button-pressed: 0 2px 1px rgba(map-get($colors, dark), 0.5),
  tab-indicator:  0 1px 1px rgba(map-get($colors, dark), 0.15)
);

$avatar-sizes: (
  small: 40px,
  medium: 56px,
  x-medium: 80px,
  large: 100px,
  x-large: 140px,
  huge: 160px
);

$avatar-stroke: (
  normal: 4px solid map-get($colors, light),
);

$preview-img-height: (
  low: 160px,
  tall: 200px
);

$preview-width: 350px;

$breakpoints: (
  medium: 768px,
  large: 1200px
);

$container-width: (
  min: 290px,
  small: 90%,
  medium: 720px,
  large: 1140px,
);

$article-content-width: (
  min: 290px,
  base: 90%,
  base-max: 700px,
  wide: 850px,
  wider-max: 1000px
);

$transition: (
  normal: 0.2s,
  medium: 0.5s
);

$body-min-width: 320px;

$divider: 1px solid rgba(#000000, 0.12);
$divider-light: 1px solid rgba(255, 255, 255, 0.2);
$border-radius: 6px;
