mixin header(type="default", mods)

  //- Принимает:
  //-   type    {"default"}, {"course"} - тип header'а
  //-   mods    {string} - список модификаторов
  -
    // список модификаторов
    var allMods = '';
    if(typeof(mods) !== 'undefined' && mods) {
      var modsList = mods.split(',');
      for (var i = 0; i < modsList.length; i++) {
        allMods = allMods + ' header--' + modsList[i].trim();
      }
    }

  header.header(class=allMods)&attributes(attributes)
    .container.header__inner
      a.header__logo(href="javascript:void(0)" title="Skilla")
        +logo.header__logo-svg
      p.header__slogan Онлайн-школа бизнеса

      if type === "course"
        +geo.header__geo

      if type === "default"
        button.header__button.header__button--label.header__catalog(class="modal-trigger" data-modal="#courses-menu")
          +icon("catalog", "active")
          |Курсы

      a.header__phone(href="javascript:void(0)")
        +icon("phone", "active")
        span.header__phone-number 8 800 555-86-28

      if type === "course"
        button.header__button.header__burger(class="modal-trigger" data-modal="#course-nav" data-scroll="true")
          +icon("burger", "active")

      button.header__button.header__account(class="modal-trigger" data-modal="#login")
        +icon("account", "active")
