mixin purpose(text, mods)

  //- Принимает:
  //-   text    {string} - текст
  //-   mods    {string} - список модификаторов
  -
    // список модификаторов
    var allMods = '';
    if(typeof(mods) !== 'undefined' && mods) {
      var modsList = mods.split(',');
      for (var i = 0; i < modsList.length; i++) {
        allMods = allMods + ' purpose--' + modsList[i].trim();
      }
    }

  section.purpose(class=allMods)&attributes(attributes)
    .container
      p.purpose__text  Как бросить нелюбимую работу и&nbsp;открыть свое кафе
