extends form-layout.pug

block data
  - var id = "login"
  - var formMods = "form--light"
  - var backMods= "form__back--dark"
  - var formMixins = ""

block prepend content-top
  - var peopleCounter = "нас уже 100 500"
  - var stepsIndicator = false

block form-author

block steps
  .form__step
    .form__title Привет, заходи
    .form__row.form__row--full
      input.input(type="tel" placeholder="+7(").form__input
    .form__row.form__row--full.form__row--full-responsive
      input.input(type="password" placeholder="********").form__input
      +button("Войти", mods, "", tag="button").form__button(type="submit")
    a.link(href="javascript:void(0)" name="next").form__hint Забыл пароль?
    a.link(href="javascript:void(0)" style="display:none").form__hint Отправить еще раз
  .form__step
    .form__title Куда выслать новый?
    .form__row.form__row--full.form__row--full-responsive
      input.input(type="email" placeholder="@почта").form__input
      +button("получить пароль", "secondary", "", tag="button").form__button(type="submit")

block bottom-content
  a.link.modal-trigger(data-modal="#sign-up" data-overlay="off" href="javascript:void(0);") Еще не регистрировался?
