.form.form--light.modal(class=allMods)&attributes(attributes)
  .form__inner

    .form__overlay
      button.form__back.form__back--dark.modal__close(class=allMods)&attributes(attributes)
        +icon("arrow-back").form__back-arrow
        +logo.form__back-logo

    .form__content
      .form__content-inner
        .form__content-top
          p.form__people-counter нас уже 100 500
        form.form__form(name="sign-up-course" method="get" action="")
          .form__step
            .form__title Привет, заходи
            input.input(type="tel" placeholder="+7(").form__input
            .form__row
              input.input(type="password" placeholder="********").form__row-input
              +button("Войти", mods, "", tag="button").form__row-button(type="submit")
            p.form__hint Не пришел пароль? <a class="link" href="javascript:void(0)">Отправить еще раз</a>
        .form__bottom
          p.form__bottom-descr В ближайшее время с тобой свяжется наш куратор
