extends form-layout.pug

block data
  - var id = "sign-up"
  - var formMixins = "sign-up-course"

block overlay
  p.sign-up-course__message(id="message-slogan")
    |Запустить
    |
    span.sign-up-course__accent салон красоты
    |
    |со&nbsp;Skilla проще и&nbsp;дешевле
  .sign-up-course__benefits(id="message-benefits")
    p.sign-up-course__title Ты получаешь
    ul.sign-up-course__list
      - var items = ["Доступ к интерфейсу курса", "Бесплатные лекции со всех курсов", "Максимально полезные материалы журнала", "Лайфхаки от топовых предпринимателей", "Закрытая рубрика Epic Fails"]
      each item in items
        li.sign-up-course__item !{item}

block before-inner
  img.form__clouds(src="img/sign-up__clouds.svg")

block prepend content-top
  - var peopleCounter = "нас уже 100500 мильонов"
  - var stepsIndicator = true

block form-author

block prepend form
  - var formName = "sign-up-course"

block steps
  .form__step(data-message="#message-slogan")
    .form__title Как тебя зовут?
    .form__row.form__row--full
      input.input(placeholder="Твое имя").form__input
      +button(label, "icon", "arrow-forward").form__button(name="next")
  .form__step(data-message="#message-benefits")
    .form__title Вася, оставь телефон для связи
    .form__row.form__row--full.form__row--full-responsive
      input.input(type="tel" placeholder="+7(").form__input
      +button("Записаться", mods, icon=false, "button").form__button(type="submit")
    p.form__hint На этот номер придет пароль от твоего кабинета

block bottom
