extends form-layout.pug

block data
  - var id = "sign-up-course"

block overlay
  p.form__message
    |Запустить
    |
    span.form__message-accent салон красоты
    |
    |со&nbsp;Skilla проще и&nbsp;дешевле

block before-inner
  img.form__clouds(src="img/sign-up__clouds.svg")

block prepend content-top
  - var peopleCounter = "уже записалось 124 человека"
  - var stepsIndicator = true

block prepend form
  - var formName = "sign-up-course"

block steps
  .form__step
    .form__title Как тебя зовут?
    .form__row
      input.input(placeholder="Твое имя").form__row-input
      +button(label, "icon", "arrow-forward").form__row-button(name="next")
  .form__step
    .form__title Вася, оставь телефон для связи
    .form__row
      input.input(type="tel" placeholder="+7(").form__row-input
      +button("Записаться", mods, icon=false, "button").form__row-button(name="next")
    p.form__hint На этот номер придет пароль от твоего кабинета

block bottom-content
  p.form__bottom-descr оплатить курс можно сразу после завершения регистрации или после уточнения деталей с&nbsp;менеджером курсов
  .form__bottom-inner
    p.form__bottom-summ 4000<sup>руб/мес</sup>
    p.form__bottom-total Общая стоимость 16 000 руб.
