.sign-up {
  $back-top: 24px;
  $back-height: 24px;
  $inner-width: 90%;

  // display: none;
  box-sizing: border-box;
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  z-index: 3000;

  &__inner {
    height: 100%;
  }

  &__back {
    position: absolute;
    top: $back-top;
    left: (100% - $inner-width) / 2;
    z-index: 1;
  }

  &__overlay {
    display: none;
  }

  &__content {
    @include outliner;
    box-sizing: border-box;
    padding-top: 64px;
    padding-bottom: 40px;
    height: 100%;
    background-color: map-get($colors, light);

    &-inner {
      display: flex;
      flex-direction: column;
      margin-left: auto;
      margin-right: auto;
      width: $inner-width;
      height: 100%;
    }

    &-top {
      position: absolute;
      top: $back-top + $back-height / 2;
      right: (100% - $inner-width) / 2;
      transform: translateY(-50%);
    }
  }

  &__clouds {
    display: none;
  }

  &__people-counter {
    display: none;
  }

  &__form {
    margin-top: 56px;
  }

  &__price {
    display: flex;
    flex-direction: column;
    margin-top: auto;

    &-inner {
      order: -1;
    }

    &-descr {
      @include body-2;
      margin-top: 8px;
      color: map-get($font-colors, secondary);
    }

    &-summ {
      $line-height: 56px;
      $font-size: 48px;

      @include headline-3;

      & sup {
        display: inline-block;
        padding-top: ($line-height - $font-size) / 2;
        padding-left: 8px;
        font-size: 0.3em;
        font-weight: 500;
        line-height: $line-height / 2;
        letter-spacing: 0;
        vertical-align: top;
      }
    }

    &-total {
      @include body-2;
    }
  }

  @include respond-to(medium) {
    $back-height: 38px;
    $inner-width: 70%;

    &__inner {
      display: flex;
      flex-direction: column;
    }

    &__overlay {
      order: 2;
      display: flex;
      align-items: center;
      padding-left: 50%;
      height: 35%;
      background-image:
        url("../img/man-on-rocket.svg"),
        map-get($gradients, overlay);
      background-repeat: no-repeat;
      background-position:
        center left 20px,
        center;
    }

    &__message {
      @include subtitle-2;
      margin-left: auto;
      margin-right: auto;
      max-width: 10em;
      color: map-get($font-colors, base-light);

      &-accent {
        display: block;
        color: map-get($colors, add-color-7);
      }
    }

    &__content {
      padding-top: 112px;
      padding-bottom: 80px;
      height: 65%;
      background-color: map-get($colors, light);
      box-shadow: map-get($shadows, modal);

      &-inner {
        width: $inner-width;
        max-width: 456px;
      }

      &-top {
        display: flex;
        align-items: center;
        justify-content: space-between;
        top: $back-top + $back-height / 2;
        left: (100% - $inner-width) / 2;
      }
    }

    &__people-counter {
      @include body-2;
      display: block;
      margin-left: auto;
      margin-right: auto;
      color: map-get($font-colors, secondary);
    }

    &__price {
      flex-direction: row;
      align-items: center;

      &-inner {
        order: 1;
        margin-left: auto;
      }

      &-descr {
        max-width: 15em;
      }
    }
  }

  @include respond-to(large) {
    &__inner {
      flex-direction: row;
    }

    &__back {
      left: $back-top;

      svg {
        fill: map-get($colors, light);
      }
    }

    &__overlay {
      order: -1;
      flex-grow: 1;
      box-sizing: border-box;
      padding-left: 0;
      height: 100%;
      background-image:
        url("../img/man-on-rocket--big.svg"),
        map-get($gradients, overlay);
      background-repeat: no-repeat;
      background-position:
        left bottom,
        center;
    }

    &__message {
      @include headline-3(false);
      transform: translateY(-50%);
    }

    &__content {
      position: relative;
      padding-top: $back-top + $back-height / 2;
      width: 600px;
      height: 100%;

      &-top {
        position: static;
      }
    }

    &__clouds {
      position: absolute;
      top: 0;
      left: 0;
      display: block;
      transform: translateX(-70%) translateY(70%);
    }

    &__people-counter {
      margin: 0;
    }

    &__author {
      margin-top: 24px;
    }

    &__form {
      margin-top: auto;
      margin-bottom: auto;
    }
  }
}
