.reviews--doza {
  @import "../variables";

  @include respond-to(medium) {
    background-image: none;
    color: map-get($font-colors, base);

    .reviews {
      &__heading {
        color: map-get($font-colors, base);
      }

      &__crowd {
        &-title {
          color: map-get($font-colors, base);
        }

        &-dots {
          & span {
            background-color: map-get($colors, accent);
            box-shadow: none;
          }
        }
      }

      &__avatar {
        min-width: map-get($avatar-sizes, x-medium) + $avatar-border * 2;
        width: map-get($avatar-sizes, x-medium) + $avatar-border * 2;
        height: map-get($avatar-sizes, x-medium) + $avatar-border * 2;
        border: none;
      }
    }
  }
}
