-
  var paragraph = 'Траектория — это пошаговая инструкция по открытию определённого вида бизнеса, основанная на опыте других предпринимателей. Это не таблетка от всех проблем и не путь к успеху.'

  var imageDescr = 'Описание — это пошаговая инструкция по открытию определённого вида бизнеса, основанная на опыте других предпринимателей. Это не таблетка от всех проблем и не путь к успеху.'
