-
  var chartItems = [
    {percent: "50", label: "Начинающие предприниматели", color: "red"},
    {percent: "30", label: "Инвесторы", color: "orange"},
    {percent: "20", label: "Владельцы кафе", color: "violet"}
  ]
