-
  var courseNav = [
    {title: "Что будет на крусе", id: "#course-benefits"},
    {title: "Для кого курc", id: "#for-whome"},
    {title: "Программа", id: "#program"},
    {title: "Преподаватели", id: "#teachers"},
    {title: "Как проходит курс", id: "#how-it-works"},
    {title: "Cтоимость", id: "#cost"}
  ]
