-
  var courseBenefits = [
    {title: "Живые лекции", descr: "Лекции проходят в режиме реального времени, чтобы вы могли общаться. Лекции проходят в режиме реального времени."},
    {title: "Практика"},
    {title: "Личное общение с&nbsp;экспертом"},
    {title: "Экскурсия по&nbsp;Gonely Daily"}
  ]
