-
  var coursesList = [
  "Как открыть свою пивную точку",
  "Как открыть свою хостел",
  "Как открыть свой кофе с собой",
  "Как открыть свой цветочный магазин",
  "Как открыть свой салон красоты",
  "Как открыть свою ногтевую студию",
  "Как открыть свое агентство недвижимости",
  "Как открыть свой шиномонтаж",
  "Как открыть свое турагентство"
  ]
