-
  var courseHero = {
    heading: "Как открыть кафе",
    subheading: "От&nbsp;мечты до&nbsp;первой прибыли по&nbsp;шагам",
    label: "онлайн курс",
    author: "Александра Тузова",
    authorDescr: "в&nbsp;семейном бизнесе с&nbsp;12&nbsp;лет владелец кафе Goneli Daily, совладелец ресторана &laquo;Садахар&raquo; и&nbsp;производства продуктов шоковой заморозки.",
    logos: ["img/course-logo-01.svg", "img/course-logo-02.svg"]
  }
