-
  var itemBlocks = [
    {
      title: "Заголовок",
      descr: "Описание"
    },
    {
      title: "Заголовок второго блока",
      descr: "Описание второго второго блока"
    }
  ]

  // Описание экземпляра блока, чтобы его было проще найти

  var itemBlocksTwo = [
    {
      title: "Заголовок2",
      descr: "Описание2"
    },
    {
      title: "Заголовок второго блока2",
      descr: "Описание второго второго блока2"
    }
  ]
