-
  var howItWorksSteps = [
    { title: "Подготовка",
      descr: "Получаешь допуск к&nbsp;курсу и&nbsp;дополнительным материалам"  },
    { title: "Обучение",
      descr: "Слушаешь живые лекции, задаешь вопросы. Получаешь допуск к&nbsp;курсу и&nbsp;дополнительным материалам"  },
    { title: "Бизнес-план",
      descr: "Пишешь бизнес-план под руковдоством экспертов"  },
    { title: "Открытие кафе",
      descr: "Получаешь допуск к&nbsp;курсу и&nbsp;дополнительным материалам"  }
  ]
