-
  var previews = {
    short: {
      title: "Название франшизы",
      descr: "Короткий дескриптор вряд ли будет пристутсвовать, но все же"
    },
    medium: {
      title: "Как открыть кофе с&nbsp;собой",
      descr: "владелец кафе Goneli Daily, совладелец ресторана «Садахар» производства продуктов шоковой заморозки"
    }
  }
