-
  var programDoza = [
    {
      title: "Основы. Риски. Мотивация.",
      topics: [
        "Специфика ведения кофейного бизнеса в&nbsp;России",
        "Разновидности и&nbsp;различия кофеин",
        "Особенности современных кофеен",
        "Обзор ёмкости рынка",
        "Примеры самых успешных сетей в&nbsp;России и&nbsp;мире",
        "Популярные тенденции",
        "Собственная идея или франшиза?",
        "Где найти деньги?",
        "Разные типы владельцев бизнеса: бариста, кофеман, инвестор, семейный бизнес",
        "Разные виды бизнеса: точка &laquo;кофе с&nbsp;собой&raquo;, точка &laquo;кофе с&nbsp;собой&raquo; с&nbsp;посадочными местами, кофейня"
      ]
    },
    {
      title: "Учет и&nbsp;финансовое планирование",
      topics: [
      "Анализ конкурентноспособности",
      "Анализ затрат",
      "Как работать точно по&nbsp;цифрам и&nbsp;бюджету?",
      "Бизнес-план. Как составлять и&nbsp;как по&nbsp;нему работать?",
      "Формы инвестиций",
      "Форма бюджета",
      "Различные финансовые модели",
      "Верные формулы подсчета",
      "Пропорции и&nbsp;показатели",
      "Как формируется цена на&nbsp;продукт. Прайслист. Себестоимость.",
      "Работа с&nbsp;кассовым оборудованием (открытие, закрытие смены)",
      "Кассовые системы"
      ]
    },
    {
      title: "Безопасность бизнеса. Юридические и&nbsp;правовые аспекты. Трудовые отношения",
      topics: [
      "Легальные схемы работы",
      "Отношения бизнеса с&nbsp;проверяющими органами",
      "ООО, описание и&nbsp;выгоды",
      "ИП, описание и&nbsp;выгоды",
      "Формы документов для регистрации",
      "Контракты с&nbsp;сотрудниками",
      "Работаем правильно&nbsp;&mdash; риски и&nbsp;плюсы белой схемы работы"
      ]
    },
    {
      title: "Подбор помещения и&nbsp;подготовка к&nbsp;открытию",
      topics: [
        "Выбор месторасположения",
        "Техническое задание для риелтора",
        "Техническое задание для технолога",
        "Нюансы при подписании договора аренды",
        "Критерии выбора места",
        "Потенциал точки (от&nbsp;помещения и&nbsp;расположения)",
        "Требования к&nbsp;помещению",
        "Планировка, формулы для расчета, нормы",
        "Разработка дизайн-проекта (варианты оформления стен, потолков, полов, фасадов)",
        "Рекомендации по&nbsp;материалам и&nbsp;решения для каждого помещения."
      ]
    },
    {
      title: "Ассортимент, бренды и&nbsp;поставщики",
      topics: [
        "Работа с&nbsp;ассортиментом, закупка оборудования и&nbsp;планирование бюджета",
        "Обзор необходимых ресурсов и&nbsp;партнеров для запуска",
        "Какие товарные позиции выбрать, чтобы отличаться от&nbsp;конкурентов и&nbsp;привлекать клиента",
        "Как договариваться с&nbsp;поставщиками",
        "Технология долгосрочных отношений с&nbsp;партнерами",
        "Идеальный склад",
        "Основное кофейное оборудование",
        "Инвентарь бариста",
        "Строение кофемашин",
        "Кофемолки, их&nbsp;виды и&nbsp;различия",
        "Обслуживание кофейного оборудования",
        "Акция. Разработка сезонных предложений",
        "Авторские напитки",
        "Формирование ассортимента",
        "Разработка фирменного меню"
      ]
    },
    {
      title: "Продажи и&nbsp;работа с&nbsp;клиентами",
      topics: [
        "Технологии продаж",
        "Как увеличить продажи и&nbsp;расширить базу клиентов",
        "Как работать с&nbsp;корпоративными клиентами",
        "Как работать с&nbsp;частными лицами",
        "Работа с&nbsp;постоянными клиентами",
        "Как завоевать лояльность клиента, обратившегося в&nbsp;компанию первый раз"
      ]
    },
    {
      title: "Маркетинговое исследование окружающей территории и&nbsp;конкурентов",
      topics: [
        "Цели &laquo;карты торговой территории&raquo;, как маркетингового инструмента",
        "Мониторинг карты торговой территории",
        "Определение направления пешеходных и&nbsp;автомобильных трафиков, пиковых точек проходимости клиентопотока",
        "Использование инструментов: &laquo;2гис&raquo;, &laquo;Гугл-Метрика&raquo;, &laquo;Яндекс.Карты&raquo; и&nbsp;других",
        "Ценообразование",
        "Механика анализа конкурентов",
        "Мистери-шоппинг. Выгода использования тайных покупателей",
        "Определение портрета целевого клиента",
        "Геомаркетинг и&nbsp;определение целевой аудитории",
        "Определение маркетинговых инструментов"
      ]
    },
    {
      title: "Персонал: как укомплектовать штат магазина для эффективного старта работы",
      topics: [
        "Необходимые сотрудники",
        "10&nbsp;способов поиска специалистов",
        "Как создать благоприятные условия работы для персонала",
        "Собеседование: алгоритм проведения интервью",
        "Как выбрать специалиста, если ты&nbsp;не&nbsp;бариста?",
        "Обучение специалистов",
        "Аттестация специалистов",
        "Какие показатели нужно замерить и&nbsp;как замерять их&nbsp;своими силами?",
        "Самообучение",
        "Персонал",
        "Формирование штата",
        "Организация и&nbsp;контроль работы персонала",
        "Управление персоналом, должностные обязанности",
        "Обучение персонала",
        "Мотивация персонала",
        "Оплата труда, премии/штрафы, %&nbsp;от&nbsp;оборота",
        "Инвентаризация",
        "Техника продаж"
      ]
    },
    {
      title: "Привлечение клиентов, маркетинг и&nbsp;реклама",
      topics: [
        "Маркетинговый план запуска: календарь маркетинговых мероприятий перед открытием",
        "Варианты акций для привлечения и&nbsp;удержания клиентов (проверенные временем и&nbsp;доказавшие свою эффективность)",
        "Разработка маркетинговых материалов",
        "Разработка внутренних маркетинговых материалов для увеличения среднего чека и&nbsp;возвратности, а&nbsp;также&nbsp;&mdash; стимулирования сарафанного радио",
        "Разработка фирменного стиля (корпоративная униформа и&nbsp;брендирование студии)",
        "Привлечение клиентов из&nbsp;интернета: базовые мероприятия, бесплатные источники и&nbsp;потенциальные возможности для дальнейшего развития",
        "Эффективная работа с&nbsp;партнерами",
        "Перенаправление трафика людей с&nbsp;улицы через эффективную наружную рекламу (с&nbsp;помощью промоутеров) и&nbsp;использование рекламных площадей вокруг магазина",
        "Техническое открытие",
        "Маркетинг в&nbsp;первые месяцы после открытия"
      ]
    },
    {
      title: "Эффективные бизнес-процессы",
      topics: [
        "Стандарты и&nbsp;регламенты",
        "Идеальное расписание",
        "Контроль процессов",
        "Программное обеспечение (готовое решение, контакт, инструкция)"
      ]
    },
    {
      title: "Идеальный план открытия",
      topics: [
        "Последовательность действий",
        "Верные приоритеты",
        "Продолжительность каждого этапа",
        "Сопровождение"
      ]
    },
    {
      title: "Создание и разработка сайта",
      topics: [
        "К&nbsp;кому обратиться за&nbsp;разработкой",
        "Примеры конверсионных сайтов",
        "Как составить техническое задание для разработчиков",
        "Как создать сайт самостоятельно",
        "Контент: что важно увидеть и&nbsp;узнать Вашему клиенту"
      ]
    },
    {
      title: "Техническое превосходство",
      topics: [
        "Новые инструменты маркетинга",
        "Социальные сети",
        "Ивент-маркетинг",
        "Таргетинг",
        "Автоматизация бизнес-процессов (подходящие программы)",
        "Видеомаркетинг",
        "Контекстная реклама"
      ]
    },
    {
      title: "Масштабирование бизнеса и&nbsp;построение бренда",
      topics: [
        "Как масштабировать бизнес",
        "Сеть кофеен",
        "Франчайзинг: как упаковать франшизу и&nbsp;начать привлекать инвестиции",
        "Построение личного имиджа руководителя",
        "Построение имиджа кофеен",
        "Репутация в&nbsp;онлайн-среде",
        "Репутация в&nbsp;оффлайн-среде",
        "Современные PR-инструменты"
      ]
    }
  ]
