-
  var programHappyHair = [
    {
      title: "Индустрия красоты. Основы. Риски. Мотивация.",
      topics: [
        "Обзор бьюти-индустрии в&nbsp;России",
        "Почему салон красоты&nbsp;&mdash; хороший бизнес?",
        "Популярные тенденции",
        "Основные игроки на&nbsp;рынке. Описание лидеров",
        "Собственная идея или франшиза?",
        "Где найти деньги?",
        "Разные типы владельцев бизнеса: мастер индустрии, владелица салона, инвестор, семейный бизнес",
        "Разные виды бизнеса: маникюрный кабинет, бьюти-бар, студия маникюра и&nbsp;педикюра, салон красоты"
      ]
    },
    {
      title: "Учет и&nbsp;финансовое планирование",
      topics: [
        "Бизнес-план. Как составлять и&nbsp;как по&nbsp;нему работать?",
        "Как работать точно по&nbsp;цифрам и&nbsp;бюджету?",
        "Как формируется цена на&nbsp;услуги",
        "Прайс-лист и&nbsp;себестоимость услуг",
        "Формы инвестиций",
        "Форма бюджета",
        "Верные формулы подсчета",
        "Пропорции и&nbsp;показатели",
        "ООО, описание и&nbsp;выгоды",
        "ИП, описание и&nbsp;выгоды",
        "Формы документов для регистрации"
      ]
    },
    {
      title: "Безопасность бизнеса. Юридические и&nbsp;правовые аспекты. Трудовые отношения",
      topics: [
        "Какие проверки нужно пройти, чтобы открыть салон",
        "Какие документы необходимы для открытия салона согласно стандартам",
        "Как соблюдать нормы санитарной безопасности",
        "Контракты с&nbsp;сотрудниками",
        "Работаем правильно&nbsp;&mdash; риски и&nbsp;плюсы белой схемы работы",
        "Легальные схемы работы"
      ]
    },
    {
      title: "Подбор помещения и&nbsp;подготовка к&nbsp;открытию",
      topics: [
        "Выбор месторасположения",
        "Необходимые ресурсы и&nbsp;оборудование",
        "Нюансы при подписании договора аренды",
        "Потенциал студии (от&nbsp;помещения и&nbsp;расположения)",
        "Требования к&nbsp;помещению и&nbsp;оборудованию",
        "Планировка, формулы для расчета, нормы",
        "Разработка дизайн-проекта (варианты оформления стен, потолков, полов, фасадов)",
        "Рекомендации по&nbsp;материалам и&nbsp;решения для каждого помещения."
      ]
    },
    {
      title: "Оборудование, бренды и&nbsp;поставщики",
      topics: [
        "Закупка оборудования и&nbsp;планирование бюджета",
        "Обзор необходимых ресурсов и&nbsp;партнеров для запуска",
        "Какие услуги выбрать, чтобы отличаться от&nbsp;конкурентов и&nbsp;привлекать клиента",
        "Как договариваться с&nbsp;поставщиками",
        "Технология долгосрочных отношений с&nbsp;партнерами",
        "Флагманский салон",
        "Матрица розницы и&nbsp;идеальный склад"
      ]
    },
    {
      title: "Продажи и&nbsp;работа с&nbsp;клиентами",
      topics: [
        "Технологии предоставления услуг",
        "Как увеличить продажи и&nbsp;расширить базу клиентов",
        "Как работать с&nbsp;корпоративными клиентами",
        "Как работать с&nbsp;частными лицами",
        "Работа с&nbsp;постоянными клиентами",
        "Как завоевать лояльность клиента, обратившегося в&nbsp;салон первый раз"
      ]
    },
    {
      title: "Маркетинговое исследование окружающей территории и&nbsp;конкурентов",
      topics: [
        "Цели &laquo;карты торговой территории&raquo;, как маркетингового инструмента",
        "Мониторинг карты торговой территории",
        "Определение направления пешеходных и&nbsp;автомобильных трафиков, пиковых точек проходимости клиентопотока",
        "Использование инструментов: &laquo;2гис&raquo; , &laquo;Гугл-Метрика&raquo;, &laquo;Яндекс.Карты&raquo; и&nbsp;других",
        "Механика анализа конкурентов",
        "Мистери-шоппинг. Выгода использования тайных покупателей",
        "Определение портрета целевого клиента",
        "Геомаркетинг и&nbsp;определение целевой аудитории",
        "Определение маркетинговых инструментов"
      ]
    },
    {
      title: "Персонал: как укомплектовать штат студии для эффективного старта работы",
      topics: [
        "Необходимые сотрудники",
        "10&nbsp;способов поиска специалистов",
        "Как создать благоприятные условия работы для персонала",
        "Собеседование: алгоритм проведения интервью",
        "Как выбрать специалиста, если ты&nbsp;не&nbsp;мастер ногтевого сервиса или парикмахер?",
        "Обучение специалистов",
        "Аттестация специалистов",
        "Какие показатели нужно замерить и&nbsp;как замерять их&nbsp;своими силами?",
        "Самообучение"
      ]
    },
    {
      title: "Привлечение клиентов, маркетинг и&nbsp;реклама",
      topics: [
        "Маркетинговый план запуска студии: календарь маркетинговых мероприятий перед открытием",
        "Варианты акций для привлечения и&nbsp;удержания клиентов (проверенные временем и&nbsp;доказавшие свою эффективность)",
        "Разработка маркетинговых материалов для рекламы салона",
        "Разработка внутренних маркетинговых материалов салона для",
        "увеличения среднего чека и&nbsp;возвратности, а&nbsp;также&nbsp;&mdash; стимулирования сарафанного радио",
        "Разработка фирменного стиля ( корпоративная униформа и&nbsp;брендирование)",
        "Привлечение клиентов из&nbsp;интернета: базовые мероприятия, бесплатные источники и&nbsp;потенциальные возможности для дальнейшего развития.",
        "Эффективная работа с&nbsp;партнерами",
        "Перенаправление трафика людей с&nbsp;улицы в&nbsp;студию через эффективную наружную рекламу (с&nbsp;помощью промоутеров) и&nbsp;использование рекламных площадей",
        "Техническое открытие салона",
        "Маркетинг в&nbsp;первые месяцы после открытия"
      ]
    },
    {
      title: "Эффективные бизнес-процессы",
      topics: [
        "Стандарты и&nbsp;регламенты",
        "Идеальный трудовой распорядок",
        "Программное обеспечение для ведения бизнеса"
      ]
    },
    {
      title: "Идеальный план открытия",
      topics: [
        "Последовательность действий",
        "Верные приоритеты",
        "Продолжительность каждого этапа",
        "Сопровождение"
      ]
    },
    {
      title: "Создание и&nbsp;разработка сайта",
      topics: [
        "К кому обратиться",
        "Примеры конверсионных сайтов",
        "Как составить техническое задание для разработчиков",
        "Как создать сайт самостоятельно",
        "Контент: что важно увидеть и узнать Вашему клиенту"
      ]
    },
    {
      title: "Техническое превосходство",
      topics: [
        "Новые инструменты маркетинга",
        "Социальные сети",
        "Ивент-маркетинг",
        "Таргетинг",
        "Автоматизация цветочного магазина",
        "Видеомаркетинг",
        "Контекстная реклама"
      ]
    },
    {
      title: "Масштабирование бизнеса и&nbsp;построение бренда",
      topics: [
        "Как масштабировать бизнес",
        "Сеть салонов",
        "Франчайзинг: как упаковать франшизу и&nbsp;начать привлекать инвестиции",
        "Построение личного имиджа руководителя",
        "Построение имиджа салона",
        "Репутация в&nbsp;онлайн-среде",
        "Репутация в&nbsp;офлайн-среде",
        "Современные PR-инструменты"
      ]
    }
  ]
