-
  var program = [
    {
      title: "Открытие кафе. Основы. Риски. Мотивация.",
      topics: [
        "Обзор ёмкости рынка",
        "Почему кафе&nbsp;&mdash; хороший бизнес?",
        "Примеры самых успешных сетей в&nbsp;России и&nbsp;мире",
        //- "Популярные тенденции",
        //- "Основные игроки: поставщики, производители, концепция",
        //- "Виды трафика посетителей в&nbsp;кафе",
        //- "Собственная идея или франшиза?",
        //- "Инвестор. Где найти деньги?",
        //- "Разные типы владельцев бизнеса",
        //- "Разные виды бизнеса",
        //- "Реальные владельцы кафе. Серия интервью"
      ]
    },
    {
      title: "Открытие кафе. Основы. Риски. Мотивация.",
      topics: [
        "Обзор ёмкости рынка",
        "Почему кафе&nbsp;&mdash; хороший бизнес?",
        "Примеры самых успешных сетей в&nbsp;России и&nbsp;мире",
        "Популярные тенденции",
        "Основные игроки: поставщики, производители, концепция",
        "Виды трафика посетителей в&nbsp;кафе",
        "Собственная идея или франшиза?",
        "Инвестор. Где найти деньги?",
        "Разные типы владельцев бизнеса",
        "Разные виды бизнеса",
        "Реальные владельцы кафе. Серия интервью"
      ]
    }
  ]
