-
  var reviewCroud = [
    "img/review__avatar-02.jpg",
    "img/review__avatar-03.jpg",
    "img/review__avatar-04.jpg",
    "img/review__avatar-05.jpg",
    "img/review__avatar-06.jpg",
    "img/review__avatar-07.jpg",
    "img/review__avatar-08.jpg",
    "img/review__avatar-09.jpg",
    "img/review__avatar-10.jpg",
    "img/review__avatar-11.jpg",
    "img/review__avatar-12.jpg",
    "img/review__avatar-13.jpg",
    "img/review__avatar-14.jpg",
    "img/review__avatar-15.jpg"
    ]
